body {
  background-color: rgb(243,248,251);
  color: rgb(40,49,84);
  text-align: center;
}

/* a {
  color: rgb(40,49,84);
  text-decoration: none;
}

nav {
  overflow: hidden;
}

nav a {
  color: rgb(40,49,84);
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
} */

.navitem-style a:hover {
  color: rgb(227,118,105);
}