body {
  background-color: rgb(168,213,218);
  color: rgb(40,49,84);
}

a {
  color: rgb(40,49,84);
  text-decoration: none;
}

nav {
  overflow: hidden;
}

nav a {
  color: rgb(40,49,84);
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}