/* .boxStyle {
    border: 1px solid #d9d9d9;
    margin: 10px 0 20px;
    min-height: 400;
    width: 100%;
    position: relative;

}

.circleStyle {
    width: 500;
    height: 500;
    border-radius: 500/2;
    position: absolute;
    left: circleLeft;
    top: circleTop;
    background-color: hasCapture ? 'blue' : 'green';
    touchAction: 'none';
    backgroundImage: `url(${Img})`;
} */


.section-1{
    border: 5px solid blueviolet;
    width: 50vh;
    height: 50vh;
}